<link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">

	body,html{
		padding: 0;
		margin: 0;
		scroll-behavior: smooth;

	}
	.margin-zero {
    	margin-left: 0;
	}
	
	#page1, #page2{
		width: 100%;
		height: 100%;
		background-color: white;
	}

	.bg-orange {
		background-color: orange;
	}
	
	#brand {
		padding-right: 70%;
		font-family: "Matilda";
	}

	.navbar-toggler{
		margin-left: 90%;
	}

	.nav-item{
		margin-left: 85%;
	}
	#not-rolling h2 {
		font-family: 'Matilda';
	}
	p,h1,h2,h3,h5,div{
		font-family: 'PT Sans Caption', sans-serif;
	}



